<a href="https://colab.research.google.com/github/SaiPallavi7989/Python/blob/main/python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
history =int(input("Enter Marks of History    "))
science =int(input("Enter Marks of Science   "))

if (history > science):
     print('History marks greater than Science')
else:
     print('Science marks greater than History')

Enter Marks of History    56
Enter Marks of Science   89
Science marks greater than History

In [ ]:
words = ['cat', 'window', 'defenestrate']
for w in words:
    print(w, len(w))

cat 3
window 6
defenestrate 12

In [ ]:
for i in range(5):
    print(i)

0
1
2
3
4

In [ ]:
for num in range(1, 20):
    if num % 2 == 0:
        print("Found an even number", num)
        break
    print("Found an odd number", num)

Found an odd number 1
Found an even number 2

In [ ]:
n = 5
while n > 0:
    n -= 1
    if n == 2:
        break
    print(n)
print('Loop ended.')

4
3
Loop ended.

In [ ]:
def my_function(x):
  return x + 1



print(my_function(2))
print(my_function(4))

3
5

In [ ]:
def add(a=0,b=0,c=0):     #default arguments
    return (a+b+c)
print(add())


def add1(a,b=5,c=10):       #mandatory argument
    return (a+b+c)


print(add1(5))



print (add(10,20,30))   #postional arguments

print (add(c=10,a=110,b=30))

0
20
60
150

In [ ]:
x = lambda a : a + 10
print(x(5))

x = lambda a, b : a * b
print(x(5, 6))

15
30

In [ ]:
import re

txt = "rain in Spain"
x = re.search("^The.*Spain$", txt)

if x:
  print("YES! We have a match!")
else:
  print("No match")

No match

In [ ]:


pattern = '^a...s$'
test_string = input("Enter String")
result = re.match(pattern, test_string)

if result:
  print("Search successful.")
else:
  print("Search unsuccessful.")

Enter Stringarna
Search unsuccessful.

In [ ]:
class KBNCollege:
    def __init__(self, course):
        self.course = course
    def display(self):
        print(self.course)
object1 = KBNCollege("Python")
object1.display()

Python

In [ ]:
class KBNCollege:
    def __init__(self,name ,phno,address,accno,balance,aadharno):
        self.name=name
        self.phno=phno
        self.address=address
        self.accno=accno
        self.balance=balance
        self.aadharno=aadharno

    def displayinf(self):
        print(self.name)
        print(self.address)
        print(self.aadharno)
    def createdebitcard(self):
        print(self.name)

object1 = KBNCollege("Python","778899445566","vijayawada","789456","55","5555")
object1.displayinf()

Python
vijayawada
5555

In [ ]:
class KBNCollege:
    def course(self):
        print("Python Course in Fixity")
class hello(KBNCollege):
    def func(self):
        print("You are appointed")
ob1 = hello()
ob1.func()
ob1.course()

You are appointed
Python Couse in Fixity

In [ ]:
class BaseClass1():
    def __init__(self):
        print("Base class 1")
class BaseClass2():
    def __init__(self):
        print("Base class 2")
class derivedClass ():
    def __init__(self):
        BaseClass1.__init__(self)
        BaseClass2.__init__(self)
        print("derived class")
    def display1(self):
        BaseClass1.__init__(self)


ob = derivedClass()
ob.display1()

Base class 1
Base class 2
derived class
Base class 1

In [ ]:
class BaseClass():
    def __init__(self):
        print("Base class")
class childClass(BaseClass):
    def __init__(self):
        print("Child class")
class grandchildClass(childClass):
    def __init__(self):
        BaseClass.__init__(self)
        childClass.__init__(self)
        print("Grand child class")
ob1 = grandchildClass()

Base class
Child class
Grand child class

In [ ]:
f = open("myfile999.txt", "x")

In [ ]:
f1 = open("myfile4.txt", "w")

In [ ]:
# # Open the file in write mode 'w'
f1 = open("myfile4.txt", "w")
f1.writelines(["Hello World \n ", "You are welcome to KBNCollege\n"])
f1.close() # Close the file to ensure data is written

f1 = open("myfile4.txt", "r") # Reopen the file in read mode 'r'
print(f1.read())
f1.close() # Close the file

Hello World
 You are welcome to KBNCollege

In [ ]:
f = open("myfile3.txt", "r")
print(f.readline())

In [ ]:
file1 = open("myfile.txt","w")

#file1.writelines(['This is Delhi \n',"This is Vijayawada \n","This is Hyderadad \n"])
file1.writelines(["Hello World \n ", "You are welcome to KBNCollege\n"])
file1.close()


file1 = open("myfile.txt","a")#append mode
file1.write("The city is Banglore \n")
file1.close()

file1 = open("myfile.txt","r")
print("Output of Readlines after appending")
print(file1.read())

file1.close()

Output of Readlines after appending
Hello World
 You are welcome to KBNCollege
The city is Banglore

In [ ]:
x = float(input("Enter a number: "))
  result = 10 / x
  print("The result is:", result)

Enter a number: 0

ZeroDivisionError: division by zero

In [ ]:
try:
  x = int(input("Enter a number: "))
  result = 10 / x
  print("The result is:", result)
except ZeroDivisionError:
  print("Division by zero is not allowed.")
except ValueError:
  print("Invalid input. Please enter a valid number.")

Enter a number: 0
Division by zero is not allowed.

In [ ]:
def divide_numbers(a, b):
    try:
        result = a / b
    except ZeroDivisionError:
        print("Error: Cannot divide by zero!")
    else:
        print(f"The result of {a} divided by {b} is: {result}")
    finally:
        print("This block always executes, regardless of exceptions.")
divide_numbers(10, 2)
divide_numbers(5, 0)

The result of 10 divided by 2 is: 5.0
This block always executes, regardless of exceptions.
Error: Cannot divide by zero!
This block always executes, regardless of exceptions.

In [ ]:
a=[1,5,6,9]
b=[5,9,5,6]
s=sorted(a)
v=sorted(b)
if s==v:
    print('anagram')
else:
    print('not anagram')

not anagram

In [ ]:
x=lambda n:2*n
print(x(7))

14

In [ ]:
a = 2
print(lambda x: a + 1)

<function <lambda> at 0x78e022a1b9a0>

In [ ]:
(lambda x, y, z: x + y + z)(3, 8, 1)

12

In [ ]:
print((lambda x: x if(x > 10) else 10)(5))

10

In [ ]:
(lambda x: x * 10 if x > 10 else (x * 5 if x < 5 else x))(10)

10

In [ ]:
import re
re.search('ba[artz]', 'foobarqux')

re.search('ba[artz]', 'foobazqux')

In [ ]:
re.search('foo.bar', 'fooxbar')


print(re.search('foo.bar', 'foobar'))

print(re.search('foo.bar', 'foo\nbar'))

None
None

In [ ]:

my_list = [12, 65, 54, 39, 102, 339, 221, 50, 70 ]



r = list(filter(lambda x: (x % 7 == 0), my_list))


print(r)

[70]

In [ ]:
nums = [1, 34, 23, 56, 89, 44, 92]
even = list(filter(lambda x: x % 2 == 0, nums))
print(even)

[34, 56, 44, 92]

In [ ]:
squares = list(map(lambda n: n ** 2, range(1, 11)))
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
num1 = [2, 4, 9]
num2 = [3, 8, 5]
result = list(map(lambda x, y: x + y, num1, num2))
print(result)

[5, 12, 14]